html body {
  background-color: rgb(97, 92, 92);
}

#menu {
  border-radius: 8px;
  padding: 3 6 3 6;
  margin-left: 50px;
  background-color: rgb(48, 229, 199);
  display: none;
  /* TODO */
}

@-webkit-keyframes blackWhite {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  51% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}

.element-container {
  padding: 10px;
  background-color: white;
  -webkit-animation-name: blackWhite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}

.element-container-new {
  padding: 10px;
  background-color: white;
}
